.displayCards {
    height: 70vh;
    overflow-y: auto;
}
.matchesCard {
    background: lightgray;
    margin: 15px auto;
    border-radius: 20px;
    width: 650px;
    transition: 0.5s;
}
.matchesCard:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 3px white)
}

.matchesCardLeftContent {
    width: 80%;
}
.matchesCardLeftContent p {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.matchesCardScore {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: rgba(0,0,0,.4);

}
.MCS_Left {
    border-radius: 0 1rem 1rem 0;
}
.MCS_Right{
    border-radius: 1rem 0 0 1rem;
}
.matchesCardScore p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.matchesCardLeftContent img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.matchesCardLeft {
    min-width: 45%;
    display: flex;
    flex-direction: row;
    background: white;
}
.divider-horizontal {
    width: 10%;
}
.matchesCardRight {
    min-width: 45%;    
    display: flex;
    flex-direction: row;
    background: white;
}
.matchesCardRightContent {
    width: 80%;
}
.matchesCardRightContent p {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.matchesCardRightContent img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.cardHeader {
    width: 100%;
    font-size: 12px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: baseline;
    height: 100%;
    align-items: center;
}