table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 450px;
}

.standingsTableContainer {
    padding: 0 0 20px 0;
    margin: 20px 0 0 0;
    height: 90vh;
}
.standingsTableContainer h1 {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.standingsTable {
    width: 500px;
    height: 85%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background: white;
    margin: 10px auto;
    overflow-y: auto;
}
.standingsTable thead {
    background: white;
}

.compName {
    width: 500px;
    display: flex;
    background: white;
    margin: 5px auto;
    border-radius: 15px;
    align-items: center;
}

.standingsSeason {
    width: 150px;
    text-align: center;
}
.standingsSeason select {
    text-align: center;
}