.standingsPage {
    display: flex;
    margin: 0 auto;
}

.standingsTableContainer {
    padding: 0 0 20px 0;
    margin: 20px 0 0 0;
    height: 90vh;
    width: 40%;
}
.standingsTableContainer h1 {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.standingsTable {
    width: 500px;
    height: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background: white;
    margin: 10px auto;
    overflow-y: auto;   
    filter: drop-shadow(5px 5px 5px black)
}
.standingsTable thead {
    background: white;
}

.compName {
    width: 500px;
    display: flex;
    background: white;
    margin: 5px auto;
    border-radius: 15px;
    align-items: center;
    filter: drop-shadow(5px 5px 5px black)
}

.standingsSeason {
    width: 150px;
    text-align: center;
}
.standingsSeason select {
    text-align: center;
}
.topScorers {
    width: 500px;
    height: 200px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.rightHandStandings {
    width: 60%;
}