table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 450px;
}

.standingsTableContainer {
    padding: 0 0 20px 0;
}
.standingsTableContainer h1 {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.standingsTable {
    width: 500px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background: white;
    margin: 10px auto;
}
.standingsTable thead {
    background: white;
}
.compName h1 {
    background: white;
    width: 500px;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid gray;
}